*.*~

# Clojure
.nrepl-port
.cpcache/
.lein-repl-history

# Eclipse
.project
.classpath
.settings/
build/
bin/
target/

# VS Code / Calva
.clj-kondo
.lsp
output.calva-repl

# Application
*.svg
*.pdf
*.xlsx
*.spec
